# === Сборка C++ / CMake ===
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.o
*.so
*.dll
*.pyd

# === Python ===
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
dist/
*.egg-info/
*.egg

# === Базы данных и логи ===
*.db
*.sqlite3
*.log
*.tmp

# === IDE и редакторы ===
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.vs

# === Сборка ===
installer_output
*.ilk
*.pdb

# === Обучение библиотекам ===
testing_dpg

# === Файлы, образующиеся при работе программы ===
export*.json